#mine{
	background-color: #f5f5f5;
	min-height: 13rem;
}
#login .bg{
	background-image: url(img/mine/bg.png);
	background-size: auto 100%;
	padding: .32rem 0;
	background-color: #f37d0f;
}
#login .bg img{
	margin: 0 .16rem 0 .32rem;
	width: .96rem;
	height: .96rem;
	overflow: hidden;
	box-sizing: border-box;
	border-radius: 100%;
	border: 3px solid hsla(0,0%,100%,.4);
	text-align: center;
}
#login .bg span{
	color: #fff;
	font-size: .24rem;
}
#mine .b1{
	padding: 0.2rem 0.4rem;
	border-bottom: solid 1px #E0E0E0;
	background-color: white;
}
#mine .b1 .cite{
	font-size: .28rem;
	float: left;
	color: rgba(0,0,0,.87);
}
#mine .b1 .order{
	font-size: .24rem;
	color: rgba(0,0,0,.87);
	float: right;
	position: relative;
}
#mine .b1 .order:after{
	content: "";
	position: absolute;
	right: -0.2rem;
	top: 50%;
	width: .2rem;
	height: .2rem;
	border-left: 1px solid currentColor;
	border-top: 1px solid currentColor;
	transform: translate3d(0,-50%,0) rotate(135deg);
}
#mine .b1:after{
	content: "";
	display: block;
	clear: both;
}
#mine .b2{
	margin-bottom: .2rem;
}
#mine .b2 ul{
	padding: .35rem .8rem;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	color: rgba(0,0,0,.87);
	font-size: .22rem;
}
#mine .b2 ul li div{
	width: .48rem;
	height: .48rem;
	margin: 0 auto .16rem;
	background-size: cover;
}
#mine .items{
	background-color: white;
	margin-bottom: .2rem;
}
#mine .items ul{
	margin: 0;
	padding: 0;
}
#mine .items ul li{
	height: 1.04rem;
	list-style: none;
	background-size: .48rem auto;
	background-position: .32rem 50%;
	background-repeat: no-repeat;
	padding-left: 1.2rem;
	position: relative;
}
#mine .items ul li:after{
	content: "";
	position: absolute;
	right: 0.35rem;
	top: 50%;
	width: .2rem;
	height: .2rem;
	border-left: 1px solid currentColor;
	border-top: 1px solid currentColor;
	transform: translate3d(0,-50%,0) rotate(135deg);
}
#mine .items ul li span{
	line-height: 1.04rem;
	font-size: .28rem;
	color: rgba(0,0,0,.87);
}